@import '../utils/styles';

.card {
	background: linear-gradient(135deg, $color-light 0%, $color-neutral 100%);
	border-radius: 6px;

	box-shadow: 0 2px 2px $color-dark;
	display: flex;
	flex: 0;
	flex-direction: column;
	margin: 6px;
	min-height: 120px;
	min-width: 200px;
	overflow: hidden;
	text-align: left;
	user-select: none;

	&.showing {
		.click-to-show, .click-to-show:hover {
			background: $color-program;
		}
	}

	.click-to-show {
		cursor: pointer;
		display: flex;
		flex: 1;
		flex-direction: column;
		padding: 12px 12px 6px;

		&.narrow {
			padding: 6px;
		}

		&:hover {
			background-color: $color-preview;
		}

		.primary {
			font-size: 1.5em;
		}

		.secondary {
			font-size: 1.2em;
			font-weight: lighter;
			margin-bottom: 10px;
		}

		.action {
			flex: initial;
			font-size: 0.8em;
			margin-top: auto;
		}
	}

	.key-hint {
		margin-left: 10px;
	}

	.footer {
		flex: initial;
		text-align: right;
	}

	button {
		text-align: left;

		&.suggest {
			padding-left: 30%;
		}

		&.active {
			background-color: $color-positive;
		}
	}

	button {
		padding: 6px 30px 6px 12px;
		position: relative;

		i {
			margin-left: 6px;
		}

		&:hover {
			&.action-delete {
				background-color: $color-program;
			}
		}
	}
}
