@import '../utils/styles';

.cards,
.pauses {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 6px;
}

.pauses {
	img {
		// 200 x 124
		// minus 12
		height: 106px;
		width: 188px;
	}

	.card {
		font-weight: bold;
		text-align: center;
	}
}
