@import '../utils/styles';

dialog.config {
	background-color: $color-light;

	border: none;
	bottom: 0;
	color: $color-white;
	display: block;
	height: 100%;
	left: 0;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2;

	&.is-hidden {
		display: none;
	}

	h1,
	h2 {
		margin: 0;
		padding: 12px 24px;
	}

	h1 {
		border-bottom: 1px solid $color-dark;
		font-size: 36px;
		font-weight: 300;
	}

	h2 {
		background: $color-neutral;
		font-size: 18px;
		font-weight: 400;
	}

	button.configuring {
		font-size: 32px;
		height: 68px;
		position: absolute;
		right: 0;
		top: 0;
		width: 68px;
	}

	.contents {
		display: grid;
		grid-gap: 0;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		justify-content: center;
	}

	textarea {
		background-color: transparent;
		border: none;
		color: $color-white;
		height: 140px;
		resize: none;
		text-indent: 0;
	}

	textarea,
	input {
		font-size: 1.3em;
		margin: 0;
		padding: 12px 24px;
	}

	.displays {
		height: 160px;
		margin: 0;
		position: relative;
		text-align: center;
	}

	.display {
		align-items: center;
		background: $color-background;
		border: 5px solid $color-dark;
		border-radius: 3px;
		box-sizing: border-box;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;

		.id {
			font-size: 36px;
			opacity: 0.4;
		}

		select {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			background-color: #fff;
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22black%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
			linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
			background-position: right .7em top 50%, 0 0;
			background-repeat: no-repeat, repeat;
			background-size: .65em auto, 100%;
			border: none;
			border-radius: 0;
			box-sizing: border-box;
			display: block;
			font-size: 16px;
			font-weight: 700;
			margin: 12px 0 0;
			padding: .6em 1.4em .5em .8em;
			width: 200px;
		}

		&:before {
			background: $color-dark;
			bottom: -10px;
			content: '';
			height: 10px;
			position: absolute;
			width: 10%;
		}

		&:after {
			background: $color-dark;
			border-radius: 4px 4px 0 0;
			bottom: -14px;
			content: '';
			height: 4px;
			position: absolute;
			width: 20%;
		}
	}

	::-webkit-scrollbar {
		width: 12px;
	}

	::-webkit-scrollbar-track {
		background-color: $color-neutral;
	}

	::-webkit-scrollbar-thumb {
		background-color: $color-white;
	}
}
