@import '../utils/styles';

$label-width: 120px;
$button-width: 60px;
$button-margin: 6px;

footer {
	background-color: $color-dark;
	display: grid;
	grid-gap: 0;
	grid-template-columns: [first] $label-width repeat(3, $button-width + $button-margin * 2) repeat(3, $button-width + $button-margin * 2) [second] $label-width;
	grid-template-rows: [top] $button-height / 2 [bottom] $button-height / 2;
	justify-content: center;

	dt.first, dd.first {
		grid-column: first;
	}

	dt.second, dd.second {
		grid-column: second;
	}

	dt, dd {
		display: flex;
		margin: 0;
		padding: 0 12px;

		&.start {
			background-color: $color-preview;
		}

		&.pause {
			background-color: $color-action;
		}

		&.stop {
			background-color: $color-program;
		}
	}

	dt {
		font-size: 1.2em;
		font-weight: bold;
		line-height: 40px;
	}

	dd {
		color: rgba(255, 255, 255, 0.4);
		grid-row: bottom;
		text-transform: capitalize;
	}

	button:not(.inline) {
		font-size: 1.3em;
		grid-row: top / span 2;
		margin: 0 $button-margin;
		padding-left: 10%;
		position: relative;
		text-align: center;

		&[disabled] {
			cursor: not-allowed;
			opacity: 0.2;
		}

		&:not([disabled]):hover {
			&.start {
				background-color: $color-preview;
			}

			&.connect {
				background-color: $color-preview;
			}

			&.pause {
				background-color: $color-action;
			}

			&.stop {
				background-color: $color-program;
			}
		}
	}

	span,
	.connect {
		align-items: center;
		display: flex;
		grid-column: first / span 8;
		grid-row: top / span 2;
		justify-content: center;
		padding: 0;

		i {
			margin: 0 6px;
		}
	}

	input {
		font-size: 1.3em;
		grid-column: span 4;
		grid-row: top / span 2;
		padding: 0 12px;
	}

	.connect {
		display: flex;
		grid-column: span 2;
		padding: 0 12px;
	}

	.error {
		background-color: $color-program;
		border-radius: 5px 5px 0 0;
	}

}
