@import '../utils/styles';

.take-over {
  &.is-hidden {
    display: none;
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $color-light;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  justify-content: center;

  textarea {
    padding: 4px 8px;
    margin: 0;
    text-indent: 0;
    font-size: 1.2em;
    background-color: transparent;
    color: $color-white;
    border: none;
    resize: none;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: $color-neutral;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $color-white;
  }
}
