.live-entry {
	position: relative;

	&.primary-line {
		font-size: 2em;
	}

	&.secondary-line {
		font-size: 1.3em;
	}

	$indent: 20px;

	input {
		box-sizing: border-box;
		display: block;
		font-size: 1em;
		height: 100%;
		text-indent: $indent;
		width: 100%;
	}

	.suggestion {
		bottom: 4%;
		font-size: 0.7em;
		font-weight: lighter;
		left: $indent;
		pointer-events: none;
		position: absolute;
	}
}
