@import 'utils/styles';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	background-color: $color-background;
}

.key-hint {
	font-size: 0.7em;
	font-weight: lighter;
}

button {
	cursor: pointer;
	user-select: none;
}

input,
button {
	border: none;
	color: white;
	outline: none;
	background-color: transparent;
}
