.logo {
	align-items: center;

	@mixin in() {
		transform: translateX(0) rotate(0);

		.for-alpha-channel & {
			opacity: 1;
		}
	}

	@mixin out() {
		transform: translateX(-200%) rotate(-360deg);

		.for-alpha-channel & {
			opacity: 0;
		}
	}

	@include out();

	background-color: black;

	border-radius: 100%;

	bottom: 0;

	display: flex;
	font-family: 'Avenir-Black', sans-serif;
	font-size: 2.4em;
	height: 100px;
	justify-content: center;
	left: 0;
	position: absolute;
	transition: opacity 1s, transform 1s ease-in-out;
	width: 100px;

	&.in {
		@include in();
	}

	&.out {
		@include out();
	}

	.for-alpha-channel & {
		background-color: white;
		box-shadow: 0 3px 6px rgba(255, 255, 255, 0.7);
	}
}
