.lower-third {
	align-items: flex-start;
	display: flex;
	bottom: 12px;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 130px;
	position: absolute;
	transition: clip-path 1s ease-in-out, opacity 1s;

	@mixin in() {
		clip-path: circle(140% at 6% 50%);

		.for-alpha-channel & {
			opacity: 1;
		}
	}

	@mixin out() {
		clip-path: circle(8% at 6% 50%);

		.for-alpha-channel & {
			opacity: 0;
		}
	}

	@include out();

	&.in {
		@include in();
	}

	&.out {
		@include out();
	}

	.for-alpha-channel & {
		> * {
			text-shadow: 0 3px 7px rgba(255, 255, 255, 0.9);
		}
	}

	.primary {
		font-size: 5.7em;
		font-weight: 300;
	}

	.secondary {
		font-size: 2em;
		font-weight: 300;
		padding-left: 0.42em;
	}

	&.has-secondary {
		.primary {
			font-size: 4em;
		}
	}
}
