html, body {
  user-select: none;
  margin: 0;
  padding: 0;
  background-color: #00f;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  text-shadow: 2px 1px black;
  cursor: none; }

.title,
.subtitle {
  overflow: hidden; }

#top-right {
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: right;
  font-size: 3vw;
  font-weight: 400; }

#lower-thirds {
  position: absolute;
  bottom: 5%;
  left: 5%; }
  #lower-thirds .title {
    font-size: 6vw;
    font-weight: 300;
    text-align: left;
    padding: 2px 30px 2px 2px; }
    #lower-thirds .title .wrapper {
      top: 10000px;
      position: relative; }
  #lower-thirds .line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0; }
  #lower-thirds .subtitle {
    font-size: 4vw;
    font-weight: 300;
    text-align: right;
    padding: 2px; }
    #lower-thirds .subtitle img {
      height: 3vw; }
    #lower-thirds .subtitle .wrapper {
      bottom: 10000px;
      position: relative; }
  #lower-thirds.in .line {
    animation: 1s slideInLine; }
  #lower-thirds.in .title .wrapper {
    animation: .3s slideInUp;
    animation-delay: .3s; }
  #lower-thirds.in .subtitle .wrapper {
    animation: .3s slideInDown;
    animation-delay: .4s; }
  #lower-thirds.out .line {
    animation: 1s slideOutLine; }
  #lower-thirds.out .title .wrapper {
    animation: .3s slideOutUp; }
  #lower-thirds.out .subtitle .wrapper {
    animation: .3s slideOutDown; }
  #lower-thirds .line,
  #lower-thirds .title .wrapper,
  #lower-thirds .subtitle .wrapper {
    animation-timing-function: ease-in-out !important;
    animation-fill-mode: both !important; }

@keyframes slideInLine {
  0% {
    opacity: 1;
    left: -14%;
    width: 1px; }
  20% {
    left: 0;
    width: 1px;
    background-color: brown; }
  70% {
    width: 110%;
    background-color: #e0dec7; }
  100% {
    opacity: 1;
    width: 100%;
    background-color: #e0dec7; } }

@keyframes slideOutLine {
  0% {
    opacity: 1;
    width: 100%;
    background-color: #e0dec7; }
  20% {
    width: 110%;
    background-color: #e0dec7; }
  70% {
    left: 0;
    width: 1px;
    background-color: brown; }
  100% {
    left: -14%;
    width: 1px;
    opacity: 0; } }

@keyframes slideInUp {
  0% {
    top: 5vw;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes slideOutUp {
  0% {
    top: 0;
    opacity: 1; }
  100% {
    top: 5vw;
    opacity: 0; } }

@keyframes slideInDown {
  0% {
    bottom: 3vw;
    opacity: 0; }
  100% {
    bottom: 0;
    opacity: 1; } }

@keyframes slideOutDown {
  0% {
    bottom: 0;
    opacity: 1; }
  100% {
    bottom: 3vw;
    opacity: 0; } }
