$color-background: #0d0c0f;

$color-light: #242329;
$color-neutral: #2d2b33;
$color-focus: #413f47;
$color-positive: #3f4741;
$color-negative: #472c2a;

$color-program: #970000;
$color-preview: #009700;
