html, body {
	cursor: none;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

body {
	background-color: black;
	color: white;
	//background-image: url('../images/sample.png');
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
}

.App {
	bottom: 6%;
	left: 10%;
	position: absolute;
	right: 10%;
}
